@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);

  margin: 40px;
  font: $base-text-size / 1 $base-font-family;
}

h1 {
  text-align: center;
}

.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  grid-gap: 5px;
  max-width: 500px;
}

.wrap div {
  background-color: rgb(40, 68, 215);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.wrap1 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  grid-gap: 5px;
}

.wrap1 div {
  background-color: rgb(222, 32, 129);
  padding: 20px;
  color: white;
}

.wrap2 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50px repeat(2, 1fr 2fr);
  grid-gap: 5px;
  max-width: 600px;
}

.wrap2 div {
  background-color: rgb(107, 207, 66);
  padding: 10px;
}

.wrap3 {
  margin-top: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: minmax(200px, 250px) 1fr 1fr;
  grid-auto-rows: minmax(60px, auto)
}

.wrap3 div {
  background-color: black;
  color: white;
}
